{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "nav.html" %}
 
<h1 class="text-center text-light mt-5">{% trans "Change password" %}</h1>

{% for f in form %}
{% if f.errors %}
<div class="alert alert-danger col-lg-6 m-auto" style="margin-bottom: 1.5em!important; ">
  {{ f.label }} : {{ f.errors }}
</div>
{% endif %}
{% endfor %}
<form method="POST" class="row no-gutters m-auto w-50">
	{% csrf_token %}
	<div class="input-group mb-3 col-lg-12">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">{% trans "Old password" %}</span>
		</div>
		<input type="password" class="form-control" name="old_password">
	</div>
	<div class="input-group mb-3 col-lg-12">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">{% trans "New password" %}</span>
		</div>
		<input type="password" class="form-control" name="new_password1">
	</div>
	<div class="input-group mb-3 col-lg-12">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">{% trans "Confirm password" %}</span>
		</div>
		<input type="password" class="form-control" name="new_password2">
	</div>
	<div class="text-center col-lg-12">
		<button type="submit" class="btn btn-light mt-3"><i class="fa fa-edit"></i> {% trans "Change password" %}</button>
	</div>
</form>
{% endblock %}