{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "nav.html" %}
{% load static %}

<div class="row justify-content-center mt-5 no-gutters">
	<div class="card bg-dark text-light w-75">
		<h4 class="card-header w-100 card-header-link"> <a class="stretched-link" href="{% url 'user_watchlist' username=object.viewer.username %}"> {% if object.viewer.name_display %}{{object.viewer.first_name}} {{object.viewer.last_name}}{% else %}{{object.viewer.username}}{% endif %}</a> {% trans "watched" %} <span style="float: right;">  {% if object.new %} <img src="{% static 'img/icons/new.png' %}" alt="New" title="New" width="40"> {% endif %} {% if object.theater %} <img src="{% static 'img/icons/cinema.png' %}" alt="Cinema" title="Cinema" width="40"> {% endif %} </span></h4>
		<div class="row no-gutters">
			<div class="col-xl-2 img-card-poster">
				<img src="{{object.movie.poster}}" alt="{{object.movie.title}}" class="img-fluid" width="200">
			</div>
			<div class="col m-3 btn-card-right">
				<h3 class="card-title text-center">{{object.movie.title}}<span class="text-muted"> - {{ object.movie.director }}, {{object.movie.year}}</span></h3>
				<p class="card-text text-justify">{% trans object.movie.plot %}</p>
				<p class="card-text text-justify">{% trans "With:" %} {{object.movie.actors}}</p>
				<p class="card-text text-justify">{% trans "Awards:" %} {% trans object.movie.awards %}</p>

				<a href="{% url 'watchedmovie_edit' pk=object.pk %}" class="btn btn-warning mb-2"><i class="fa fa-edit"></i> {% trans "Edit entry" %}</a>
				<a href="https://www.imdb.com/title/{{object.movie.imdbid}}" class="btn btn-warning mb-2" target="_blank"><i class="fa fa-external-link"></i> {% trans "See on IMDb" %}</a>
				<a href="{% url 'delete' ownid=object.id %}" class="btn btn-danger mb-2"><i class="fa fa-remove"></i> {% trans "Delete from your watchlist" %}</a>
			</div>
		</div>
		<div class="card-footer">
			<p class="card-text">{% trans "Watched on" %} {{ object.view_date }} - {{object.note}}/10 - {{object.comment}}</p>
		</div>
	</div>
</div>

{% endblock %}