{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% include "nav.html" %}

{% if user.is_authenticated %}
  <p> {% trans "Hi" %} {{user.username}} </p>
  <a href="{% url 'logout' %}">{% trans "Log out" %}</a>
{% else %}
<div class="ruban-widget justify-content-center">
  <h1 class="ruban col-lg-lg-12 text-center text-light mt-5"> {% trans "Login" %}</h1>
  <form action="" method="post" class="container col-lg-lg-12 justify-content-center">
    {% csrf_token %}
    {% for f in form %}
      <div class="input-group mb-3 col-lg-12">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">{% trans "Required" %}</span>
        </div>
        <input type="{{ f.field.widget.input_type }}" class="form-control" placeholder="{{ f.label }}" aria-label="{{ f.id_for_label }}" aria-describedby="basic-addon1" required_id="{{ f.id_for_label }}" name="{{f.html_name}}">
      </div>
      {% if f.errors %}
          <style>ul{list-style: none;padding-left: 0;}</style>
          <small class="font-weight-bold text-danger">
            {% trans f.errors %}
          </small>
      {% endif %}
    {% endfor %}
    <div class="col-lg-12 text-center">
      <input type="submit" id="connect" value="{% trans 'Login' %}" class="btn btn-light" style="cursor: pointer;">
    </div>
  </form>
</div>
{% endif %}

{% endblock %}
