{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% include "nav.html" %}
<div class="ruban_widget">
  <h1 class="ruban text-center text-light mt-5" style="padding: 5px;">{% trans "User registration" %}</h1>
  {% if addedUser %}
  <div class="alert alert-warning w-75 m-auto">
    {% trans "Sign in successfull. Please check your emails to activate your account. If you can't find the email, please check your spam folder." %}
  </div>
  {% else %}
  {% for f in form %}
  {% if f.errors %}
  <div class="alert alert-danger col-lg-6 m-auto" style="margin-bottom: 1.5em!important; ">
    {{f.label}} : {{ f.errors }}
  </div>
  {% endif %}
  {% endfor %}
  <form action="" method="post" class="container col-lg-lg-12 justify-content-center">
    {% csrf_token %}
    {% for f in form %}
    <div class="input-group mb-3 col-lg-12">
      {% if f.html_name != "gender" %}
      <input type="{{ f.field.widget.input_type }}" class="form-control" placeholder="{{ f.label }}" aria-label="{{ f.id_for_label }}" aria-describedby="basic-addon1" required_id="{{ f.id_for_label }}" name="{{f.html_name}}">
      {% else %}
      {{ f }}
      {% endif %}
    </div>
    {% endfor %}
    <div class="col-lg-12 text-center">
      <input type="submit" id="connect" value="{% trans 'Register' %}" class="btn btn-light" style="cursor: pointer;">
    </div>
  </form>
  {% endif %}
</div>
{% endblock %}
