html {
  min-height: 100%;
  position: relative;
}

a.stretched-link {
  color: white!important;
  text-decoration: none;
}

#footer_wrap {
  width: 100%;
  bottom: 0;
  left: 0;
}

.index_logo {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 25px 30px 35px 30px;
  overflow: hidden;
  -webkit-border-radius: 50px;
  border-radius: 200px;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  margin: auto;
  margin-top: 1em;
  max-width: 200px;
}

.navbar {
  padding: 0;
}

.navbar-brand, .nav-item {
  padding: .5rem .5rem;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.bg-gradient-dark {
  background-image: url('../img/backgrounds/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-card-poster {
  text-align: left!important;
}

.btn-card-right {
  text-align: right!important;
}

.fill {
  min-height: 100%;
  height: 100%;
}

.bg-dark, .btn-dark {
  background-color: rgb(20,20,20)!important;
  border-color: rgb(20,20,20)!important;
}

.btn-dark:hover {
  background-color: rgb(10, 10, 10)!important;
  border-color: rgb(10, 10, 10)!important;
}

.btn-danger {
  background-color: rgb(160, 17, 0)!important;
  border-color: rgb(160, 17, 0)!important;
  color: rgb(210, 210, 210)!important;
}

.btn-danger:hover {
  background-color: #7B0D00!important;
  border-color: #7B0D00!important;
  color: white!important;
}

.btn-success {
  background-color: rgb(200,200,200)!important;
  border-color: rgb(200,200,200)!important;
  color: black!important;
}

.btn-success:hover {
  background-color: rgb(6, 120, 4)!important;
  border-color: rgb(6, 120, 4)!important;
  color: rgb(210, 210, 210)!important;
}

.btn-light:hover, .nav-item:hover {
  background-color: rgb(10, 136, 163)!important;
  border-color: rgb(10, 136, 163)!important;
  color:white!important;
}

.text-light, .nav-link, .navbar-brand {
  color: rgb(210, 210, 210)!important;
}

h1.text-light {
  color: white!important;
}

.card-header {
  transform: rotate(0);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.card-header-link:hover {
  background-color: rgb(10, 136, 163)!important;
  border-color: rgb(10, 136, 163)!important;
  color: white!important;
}

.text-muted {
  color: rgb(125, 125, 125)!important;
}


@media screen and (max-width: 1200px) {
  .img-card-poster {
    text-align: center!important;
  }
  .btn-card-right {
    text-align: center!important;
  }
  .navbar {
    padding: .5rem 0 .5rem 0;
  }
}