{% extends "base.html" %}

{% block content %}
{% include "nav.html" %}

<h1 class="text-center text-light mt-5 mb-5">Add a movie to your watchlist</h1>
<form method="post" action="" class="container ">
    {% csrf_token %}
    <div class="container">
	    <div class="row justify-content-center">
	    	<div class="col-6">
	    		<div class="card text-justify" style="width: 25rem;">
				  <img class="card-img-top" src="{{movie.poster}}" alt="{{movie.title}} poster" width="300">
				  <div class="card-body">
				    <h5 class="card-title">{{movie.title}}</h5>
				    <p class="card-text">{{movie.plot}}</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">{{movie.released}}</li>
				    <li class="list-group-item">{{movie.director}}</li>
				    <li class="list-group-item">{{movie.genre}}</li>
				  </ul>
				  <div class="card-body">
						<a href="https://www.imdb.com/title/{{movie.imdbID}}" class="btn btn-warning" target="_blank">See on imDB</a>
				  </div>
				</div>
	    	</div>
	    	<div class="col_6">
		    	<div class="row justify-content-center mt-3">
		    		<div class="col-xs-3">
		    			<h5 class="text-light">
		    				{{ form.view_date.label }}:
		    			</h5>
		    		</div>
		    		<div class="col-xs-9  ml-3">
		    			<input type="date" name="{{ form.view_date.html_name}}" value="{{ now }}">
		    		</div>
		    	</div>
		    	<div class="row justify-content-center mt-3">
		    		<div class="col-xs-3">
		    			<h5 class="text-light">
		    				{{ form.new.label }}:
		    			</h5>
		    		</div>
		    		<div class="col-xs-9 ml-3">
		    			{{ form.new }}
		    		</div>
		    	</div>
		    	<div class="row justify-content-center mt-3">
		    		<div class="col-xs-3">
		    			<h5 class="text-light">
		    				{{ form.theater.label }}:
		    			</h5>
		    		</div>
		    		<div class="col-xs-9 ml-3">
		    			{{ form.theater }}
		    		</div>
		    	</div>
		    	<div class="row justify-content-center mt-3">
		    		<div class="col-xs-3">
		    			<h5 class="text-light">
		    				{{ form.note.label }}:
		    			</h5>
		    		</div>
		    		<div class="col-xs-9 ml-3">
		    			<input type="number" name="{{ form.note.html_name }}" min=0 max=10 value="10" class="text-center input-group bg-dark border-dark text-light">
		    		</div>
		    	</div>
		    	<div class="row justify-content-center mt-3">
		    		<div class="col-xs-3">
		    			<h5 class="text-light">
		    				{{ form.comment.label }}:
		    			</h5>
		    		</div>
		    		<div class="col-xs-9 ml-3">
		    			<textarea  name="{{ form.comment.html_name }}" placeholder="Your thoughts about this movie..." cols="45" rows="5"></textarea>
		    		</div>
		    	</div>
				<div class="text-center">
					<button type="submit" class="btn btn-light mt-3">Add "{{movie.title}}" to my watchlist</button>
				</div>
		    </div>
	    </div>
	</div>
</form>
{% endblock %}