{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "nav.html" %}

<h1 class="ruban text-center text-light mt-5 mb-3" style="padding: 5px;"> {% trans "Friendlist" %} </h1>

{% if output %}
<div class="alert alert-info w-75 m-auto" style="margin-bottom: 2em!important">
	{% trans output %}
</div>
{% endif %}

<form method="post" action="" class="row justify-content-center col-lg-6 m-auto">
	{% csrf_token %}
	<div class="input-group mb-3 col-lg-10">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">{% trans "Send a friend request" %}</span>
		</div>
		<input type="text" class="form-control" placeholder="{% trans 'Username' %}" aria-label="Username" aria-describedby="basic-addon1" name="username">
	</div>
	<div class="col-lg-2">
		<button type="submit" class="btn btn-light w-100"><i class="fa fa-paper-plane"></i> {% trans "Send" %}</button>
	</div>
</form>
<div class="row no-gutters justify-content-center">
	{% for friend in user_friends %}
	<div class="card col-lg-3 m-3 bg-dark text-light">
		<div class="card-body text-center">
			<h5 class="card-title">{{ friend.first_name }} {{ friend.last_name }} {% trans "aka" %} {{ friend.username }}</h5>
			<a href="{% url 'user_watchlist' username=friend.username %}" class="btn btn-primary m-2"><i class="fa fa-list"></i> {% trans "See watchlist" %}</a>
			<a href="{% url 'delete_friend' friend_id=friend.id %}" class="btn btn-danger m-2"><i class="fa fa-remove"></i> {% trans "Delete friend" %}</a>
		</div>
	</div>
	{% endfor %}
</div>

<div class="row no-gutters text-center">
	<div class="col-lg-6 row no-gutters">
		<h1 class="ruban text-center text-light mt-5 mb-3 col-lg-12" style="padding: 5px;"> {% trans "Friend requests sent" %} </h1>
		{% for friend in user_sent %}
		<div class="card col-lg-3 m-2 bg-dark text-light">
			<div class="card-body text-center">
				<h5 class="card-title">{% if friend.name_display %} {{friend.first_name}} {{friend.last_name}} {% else %} {{friend.username}}{% endif %}</h5>
				<a href="{% url 'cancel_friend' friend_id=friend.id %}" class="btn btn-danger mr-lg-2 m-auto"><i class="fa fa-remove"></i> {% trans "Cancel" %}</a>
			</div>
		</div>
		{% endfor %}
	</div>

	<div class="col-lg-6 row no-gutters">
		<h1 class="ruban text-center text-light mt-5 mb-5 col-lg-12" style="padding: 5px;"> {% trans "Friend requests received" %} </h1>
		{% for friend in user_received %}
		<div class="card col-lg-3 m-2 bg-dark text-light">
			<div class="card-body text-center">
				<h5 class="card-title">{% if friend.name_display %} {{friend.first_name}} {{friend.last_name}} {% else %} {{friend.username}}{% endif %}</h5>
				<a href="{% url 'accept_friend' friend_id=friend.id %}" class="btn btn-success m-auto"><i class="fa fa-check"></i> {% trans "Accept" %}</a>
				<a href="{% url 'refuse_friend' friend_id=friend.id %}" class="btn btn-danger m-auto"><i class="fa fa-remove"></i> {% trans "Refuse" %}</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}