{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "nav.html" %}


{% if success %}
<div class="alert alert-success col-lg-4 mt-5" role="alert" style="margin: auto">
	{% trans "Your profile was updated." %}
</div>
{% endif %}


<h1 class="ruban text-center text-light mt-5 mb-3" style="padding: 5px;"> {% trans "Friendlist" %} </h1>
<div class="row no-gutters justify-content-center">
	{% for friend in user_friends %}
	<div class="card col-lg-3 m-3 bg-dark text-light">
		<div class="card-body text-center">
			<h5 class="card-title">{{ friend.first_name }} {{ friend.last_name }} {% trans "aka" %} {{ friend.username }}</h5>
			<a href="{% url 'user_watchlist' username=friend.username %}" class="btn btn-primary m-2"><i class="fa fa-list"></i> {% trans "See watchlist" %}</a>
			<a href="{% url 'delete_friend' friend_id=friend.id %}" class="btn btn-danger m-2"><i class="fa fa-remove"></i> {% trans "Delete friend" %}</a>
		</div>
	</div>
	{% endfor %}
</div>



<h1 class="ruban text-center text-light mt-5 mb-3" style="padding: 5px;"> {% trans "Friend requests sent" %} </h1>
<form method="post" action="" class="row justify-content-center col-lg-6 m-auto">
	{% csrf_token %}
	<div class="input-group mb-3 col-lg-10">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">{% trans "Send a friend request" %}</span>
		</div>
		<input type="text" class="form-control" placeholder="{% trans 'Username' %}" aria-label="Username" aria-describedby="basic-addon1" name="username">
	</div>
	<input type="hidden" name="from_send_invite" value="True">
	<div class="col-lg-2">
		<button type="submit" class="btn btn-light w-100"><i class="fa fa-paper-plane"></i> {% trans "Send" %}</button>
	</div>
</form>
<div class="row no-gutters justify-content-center">
	{% for friend in user_sent %}
	<div class="card col-lg-3 m-3 bg-dark text-light">
		<div class="card-body text-center">
			<h5 class="card-title">{% if friend.name_display %} {{friend.first_name}} {{friend.last_name}} {% else %} {{friend.username}}{% endif %}</h5>
			<a href="{% url 'cancel_friend' friend_id=friend.id %}" class="btn btn-danger mr-2 m-auto"><i class="fa fa-remove"></i> {% trans "Cancel" %}</a>
		</div>
	</div>
	{% endfor %}
</div>



<h1 class="ruban text-center text-light mt-5 mb-5" style="padding: 5px;"> {% trans "Friend requests received" %} </h1>
<div class="row no-gutters justify-content-center">
	{% for friend in user_received %}
	<div class="card col-lg-3 m-3 bg-dark text-light">
		<div class="card-body text-center">
			<h5 class="card-title">{% if friend.name_display %} {{friend.first_name}} {{friend.last_name}} {% else %} {{friend.username}}{% endif %}</h5>
			<a href="{% url 'accept_friend' friend_id=friend.id %}" class="btn btn-success m-auto"><i class="fa fa-check"></i> {% trans "Accept" %}</a>
			<a href="{% url 'refuse_friend' friend_id=friend.id %}" class="btn btn-danger mr-2 m-auto"><i class="fa fa-remove"></i> {% trans "Refuse" %}</a>
		</div>
	</div>
	{% endfor %}
</div>



<h1 class="ruban text-center text-light mt-5 mb-5" style="padding: 5px;">{% trans "Edit your profile" %}</h1>
<form action="" method="post" class="row m-auto col-lg-6">
	{% csrf_token %}
	<div class="col-lg-12 mb-2">
		<label class="sr-only" for="inlineFormInputGroup">{% trans "First name" %}</label>
		<div class="row m-auto input-group">
			<div class="input-group-prepend col-xs-3">
				<div class="input-group-text w-100">{% trans "First name" %}</div>
			</div>
			<input type="text" class="form-control col-xs-9" id="inlineFormInputGroup" placeholder="{% trans 'First name' %}" value="{{user.first_name}}" name="first_name">
		</div>
	</div>
	<div class="col-lg-12 mb-2">
		<label class="sr-only" for="inlineFormInputGroup">{% trans "Last name" %}</label>
		<div class="row m-auto input-group">
			<div class="input-group-prepend col-xs-3">
				<div class="input-group-text w-100">{% trans "Last name" %}</div>
			</div>
			<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="{% trans 'Last name' %}" value="{{user.last_name}}" name="last_name">
		</div>
	</div>
	<div class="col-lg-12 mb-2">
		<label class="sr-only" for="inlineFormInputGroup">{% trans "Birthday" %}</label>
		<div class="row m-auto input-group">
			<div class="input-group-prepend col-xs-3">
				<div class="input-group-text w-100">{% trans "Birthday" %}</div>
			</div>
			<input type="date" class="form-control" id="inlineFormInputGroup" value="{{birthday}}" name="birth_date">
		</div>
	</div>
	<div class="col-lg-12 mb-2">
		<label class="sr-only" for="inlineFormInputGroup">{% trans "Private watchlist" %}</label>
		<div class="row m-auto input-group">
			<div class="input-group-prepend col-xs-3">
				<div class="input-group-text w-100">{% trans "Private watchlist" %}</div>
			</div>
			<select class="form-control" id="exampleFormControlSelect1" name="private">
				<option value="True" {% if user.private %} selected {% endif %}>{% trans "Yes" %}</option>
				<option value="False" {% if not user.private %} selected {% endif %}>{% trans "No" %}</option>
			</select>
		</div>
	</div>
	<div class="col-lg-12 mb-2">
		<label class="sr-only" for="inlineFormInputGroup">{% trans "Email notifications" %}</label>
		<div class="row m-auto input-group">
			<div class="input-group-prepend col-xs-3">
				<div class="input-group-text w-100">{% trans "Email notifications" %}</div>
			</div>
			<select class="form-control" id="exampleFormControlSelect1" name="email_notifications">
				<option value="True" {% if user.email_notifications %} selected {% endif %}>{% trans "Yes" %}</option>
				<option value="False" {% if not user.email_notifications %} selected {% endif %}>{% trans "No" %}</option>
			</select>
		</div>
	</div>
	<div class="col-lg-12 mb-2">
		<label class="sr-only" for="inlineFormInputGroup">{% trans "Name display" %}</label>
		<div class="row m-auto input-group">
			<div class="input-group-prepend col-xs-3">
				<div class="input-group-text w-100">{% trans "Name display" %}</div>
			</div>
			<select class="form-control" id="exampleFormControlSelect1" name="name_display">
				<option value="True" {% if user.name_display %} selected {% endif %}>{{user.first_name}} {{user.last_name}}</option>
				<option value="False" {% if not user.name_display %} selected {% endif %}>{{user.username}}</option>
			</select>
		</div>
	</div>
	<input type="hidden" name="from_edit_profile" value="True">
	<div class="text-center m-auto">
		<button type="submit" class="btn btn-light mt-3">{% trans "Edit my profile" %}</button>
	</div>
</form>




<h1 class="ruban text-center text-light mt-5 mb-5" style="padding: 5px;">{% trans "Language settings" %}</h1>
<form action="/i18n/setlang/" method="post" class="row m-auto col-lg-6">
	{% csrf_token %}
	<input name="next" type="hidden" value="{% url 'profile' %}" />
	
	<div class="col-lg-12 mb-2">
		<label class="sr-only" for="inlineFormInputGroup">{% trans "Language" %}</label>
		<div class="row m-auto input-group">
			<div class="input-group-prepend col-xs-3">
				<div class="input-group-text w-100">{% trans "Language" %}</div>
			</div>
			<select class="form-control" id="exampleFormControlSelect1" name="language">
				{% for lang in LANGUAGES %}
				<option value="{{ lang.0 }}" {% if current_language == lang.0 %} selected {% endif %}>{% trans lang.1 %}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="text-center m-auto">
		<button type="submit" class="btn btn-light mt-3">{% trans "Change language" %}</button>
	</div>
</form>
{% endblock %}


