{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "nav.html" %}
{% load static %}


{% if error %}
<div class="alert alert-warning w-75 mt-5" role="alert" style="margin: auto;">
	{% trans "It seems like this user doesn't exist." %}
</div>
{% elif t_user.private and not user in t_friends %}
	<div class="alert alert-warning w-75 mt-5" role="alert" style="margin: auto;">
		{% trans "You must be friend with this user to see his watchlist." %}
	</div>
{% else %}
<h1 class="text-center text-light mt-5">{% if t_user.name_display %} {{t_user.first_name}} {{t_user.last_name}} {% else %} {{t_user.username}}{% endif %}{% trans "'s watchlist" %}</h1>
{% for movie in movies %}
	<div class="row justify-content-center mt-5 no-gutters">
		<div class="card bg-dark text-light w-75">
			<h4 class="card-header w-100">{% if t_user.name_display %} {{t_user.first_name}} {{t_user.last_name}} {% else %} {{t_user.username}} {% endif %} {% trans "watched" %} <span style="float: right;">  {% if movie.new %} <img src="{% static 'img/icons/new.png' %}" alt="New" title="New" width="40"> {% endif %} {% if movie.theater %} <img src="{% static 'img/icons/cinema.png' %}" alt="Cinema" title="Cinema" width="40"> {% endif %} </span></h5>
			<div class="row no-gutters">
				<div class="col-xl-2 img-card-poster">
					<img src="{{movie.movie.poster}}" alt="{{movie.movie.title}}" class="img-fluid" width="200">
				</div>
			  	<div class="col m-3 btn-card-right">
				    <h3 class="card-title text-center">{{movie.movie.title}}<span class="text-muted"> - {{ movie.movie.director }}, {{movie.movie.year}}</span></h5>
				    <p class="card-text text-justify">{% trans movie.movie.plot %}</p>
				    <p class="card-text text-justify">{% trans "With:" %} {{movie.movie.actors}}</p>
				    <p class="card-text text-justify">{% trans "Awards:" %} {% trans movie.movie.awards %}</p>
					<a href="https://www.imdb.com/title/{{movie.movie.imdbid}}" class="btn btn-warning mb-2" target="_blank"><i class="fa fa-external-link"></i> {% trans "See on IMDb" %}</a>
			  	</div>
			</div>
			<div class="card-footer">
				<p class="card-text">{% trans "Watched on" %} {{ movie.view_date }} - {{movie.note}}/10 - {{movie.comment}}</p>
			</div>
		</div>
	</div>
{% endfor %}
  <div class="row justify-content-center">
    {% if page > 1 %}
    <a href="{% url 'user_watchlist_page' username=t_user.username page=previous_page %}" class="btn btn-dark m-2 col-xs-2">{% trans "Previous page" %}<br><i class="fa fa-arrow-left"></i></a>
    {% endif %}
    {% if not last_page %}
    <a href="{% url 'user_watchlist_page' username=t_user.username page=next_page %}" class="btn btn-dark m-2 col-xs-2"> {% trans "Next page" %}<br><i class="fa fa-arrow-right"></i> </a>
    {% endif %}
  </div>
{% endif %}

{% endblock %}