{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "nav.html" %}
{% load static %}


{% if error %}
<div class="alert alert-warning w-75 mt-5" role="alert" style="margin: auto;">
	{% trans "It seems like this user doesn't exist." %}
</div>
{% elif t_user.private and not user in t_friends %}
<div class="alert alert-warning w-75 mt-5" role="alert" style="margin: auto;">
	{% trans "You must be friend with this user to see his watchlist." %}
</div>
{% if not user.id in friend_requests_received %}
<div class="col text-center mt-3">
	<form method="post" action="">
		{% csrf_token %}
		<input type="hidden" name="username" value="{{t_user.username}}">
		<input type="hidden" name="from_send_invite" value="True">
		<div>
			<button class="btn btn-success"><i class="fa fa-paper-plane"></i> {% trans "Send a friend request to" %} {{t_user.username}}</button>
		</div>
	</form>
</div>
{% else %}
<div class="col text-center mt-3">
	<div>
		<button type="submit" class="btn btn-success" disabled><i class="fa fa-check"></i> {% trans "You already sent a friend invite to" %} {{t_user.username}}</button>
	</div>
</div>
{% endif %}
{% else %}
<h1 class="text-center text-light mt-5">{% if t_user.name_display %} {{t_user.first_name}} {{t_user.last_name}} {% else %} {{t_user.username}}{% endif %}{% trans "'s watchlist" %}</h1>
{% if not user in t_friends %}
{% if not user.id in friend_requests_received %}
<div class="col text-center mt-3">
	<form method="post" action="">
		{% csrf_token %}
		<input type="hidden" name="username" value="{{t_user.username}}">
		<input type="hidden" name="from_send_invite" value="True">
		<div>
			<button type="submit" class="btn btn-success"><i class="fa fa-paper-plane"></i> {% trans "Send a friend request to" %} {{t_user.username}}</button>
		</div>
	</form>
</div>
{% else %}
<div class="col text-center mt-3">
	<div>
		<button type="submit" class="btn btn-success" disabled><i class="fa fa-check"></i> {% trans "You already sent a friend invite to" %} {{t_user.username}}</button>
	</div>
</div>
{% endif %}
{% else %}
<div class="col text-center mt-3">
	<div>
		<button type="submit" class="btn btn-success" disabled><i class="fa fa-user"></i> {% trans "You are already friend with" %} {{t_user.username}}</button>
	</div>
</div>
{% endif %}

<div class="row text-center infinite-x mt-3" id="watchlist">
	{% for movie in movies %}
	<div class="infinite-x-child col-xl-2">
		<div class="card bg-dark text-light mx-auto mb-2">
			<img src="{{ movie.movie.poster }}" alt="{{ movie.movie.title }}" class="img-fluid card-img">
			<div class="card-img-overlay">
				<a href="{% url 'watchedmovie-detail' pk=movie.pk %}" class="stretched-link"></a>
				<h4 class="card-title text-center mt-2"> {{ movie.movie.title }}</h4>
				<div class="card-body m-auto mt-2 text-center card-img-footer">
					<p class="card-text">{% trans "Watched on" %} {{ movie.view_date }} <br>{{movie.note}}/10</p>
					<br>
					{% if movie.new %}
					<i class="fa fa-lg fa-star"></i>
					{% endif %}
					{% if movie.theater %}
					<i class="fa fa-lg fa-film"></i>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="m-auto">
			<a href="https://www.imdb.com/title/{{movie.movie.imdbid}}" class="btn btn-warning" target="_blank">
				<i class="fa fa-external-link m-auto"></i>
			</a>
			<a href="{% url 'watchedmovie_edit' pk=movie.pk %}" class="btn btn-warning m-auto">
				<i class="fa fa-edit"></i>
			</a>
			<a href="{% url 'delete' ownid=movie.id %}" class="btn btn-danger m-auto"><i class="fa fa-remove"></i>
			</a>
		</div>
	</div>
	{% endfor %}
</div>

<div class="row justify-content-center g-0 mt-4">
	<button onclick="scrollWatchListRight()" class="btn btn-light m-2 p-2 col-xs-2">
		<i class="fa fa-arrow-left"></i>
	</button>
	<button onclick="scrollWatchListLeft()" class="btn btn-light m-2 p-2 col-xs-2">
		<i class="fa fa-arrow-right"></i>
	</button>
</div>
{% endif %}

{% endblock %}