{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "nav.html" %}
{% load static %}

<h1 class="text-center text-light mt-5">{% trans "My watchlist" %} </h1>
<div class="col text-center mt-3">
	<a href="{% url 'movielist' %}" class="btn btn-success"><i class="fa fa-plus"></i> {% trans "Add a movie to my watchlist" %}</a>
</div>

<table class="table table-dark mt-3 w-75 mr-auto ml-auto text-center">
	<thead class="thead-light">
		<tr>
			<th scope="col" class="align-middle">
				<h5> {% trans "Poster" %} </h5>
			</th>
			<th scope="col" class="align-middle">
				<h5> {% trans "Title" %} </h5>
			</th>
			<th scope="col" class="align-middle">
				<h5> {% trans "Note" %} </h5>
			</th>
			<th scope="col" class="align-middle">
				<h5> {% trans "Watched" %} </h5>
			</th>
			<th scope="col" class="align-middle">
				<h5> {% trans "Special" %} </h5>
			</th>
			<th scope="col" class="align-middle d-none d-lg-table-cell d-xs-none">
				<h5> {% trans "Actions" %} </h5>
			</th>
		</tr>
	</thead>
	<tbody>
		{% for movie in movies %}
		<tr class="clickable-row" data-href="{% url 'watchedmovie-detail' pk=movie.pk %}">
			<td class="align-middle"> 
				<img src="{{movie.movie.poster}}" alt="{{movie.movie.title}}" class="img-fluid" width="100"> 
			</td>
			<td class="align-middle">
				<h5>{{ movie.movie.title }}</h5>
			</td>
			<td class="align-middle">
				<h5> {{ movie.note }}/10 </h5>
			</td>
			<td class="align-middle">
				<h5> {{ movie.view_date }}</h5>
			</td>
			<td class="align-middle">
				{% if movie.new %}
				<i class="fa fa-3x fa-star"></i>
				{% endif %}
				{% if movie.theater %}
				<i class="fa fa-3x fa-film"></i>
				{% endif %}
			</td>
			<td class="align-middle d-none d-lg-table-cell d-xs-none">
				<a href="https://www.imdb.com/title/{{movie.movie.imdbid}}" class="btn btn-warning mb-2 w-100" target="_blank">
					<i class="fa fa-external-link"></i> 
					{% trans "See on IMDb" %}
				</a>
				<a href="{% url 'watchedmovie_edit' pk=movie.pk %}" class="btn btn-warning mb-2 w-100">
					<i class="fa fa-edit"></i>
					{% trans "Edit entry" %}
				</a>
				<a href="{% url 'delete' ownid=movie.id %}" class="btn btn-danger mb-2 w-100"><i class="fa fa-remove"></i>
					{% trans "Delete entry" %}
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="row justify-content-center no-gutters">
	{% if page > 1 %}
	<a href="{% url 'watchlist_page' page=previous_page %}" class="btn btn-light m-2 p-2 col-xs-2">{% trans "Previous page" %}<br><i class="fa fa-arrow-left"></i></a>
	{% endif %}
	{% if not last_page %}
	<a href="{% url 'watchlist_page' page=next_page %}" class="btn btn-light m-2 p-2 col-xs-2"> {% trans "Next page" %}<br><i class="fa fa-arrow-right"></i> </a>
	{% endif %}
</div>
{% endblock %}