<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Movie directory is a small social network that allows its users to share the last movies they saw with their friends." />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="keywords" content="movie, social, network, directory, movie directory, moviedirectory, cinema" />
    <meta name="author" content="https://github.com/Tonin386">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}Movie Directory{% endblock %} {% if user.is_authenticated %} - {{user.username}} {% endif %}
    </title>
</head>

<script src="{% static 'js/utilities.js' %}"></script>

<body class="bg-gradient-dark container mw-100 p-0 fill overflow-x-hidden">

    {% block content %}
    {% endblock %}

    <div id="footer_wrap">
        {% include "footer.html" %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="{% static 'js/my_js.js' %}"> </script>

    <!-- Begin Web-Stat code v 6.3 -->
    <span id="wts1947258" style="display: none;">&nbsp;</span>
    <script>
        var wts = document.createElement('script'); wts.type = 'text/javascript';
        wts.async = true; wts.src = 'https://wts.one/5/1947258/log6_2.js';
        document.getElementById('wts1947258').appendChild(wts);
    </script>
    <noscript>
        <a href="https://www.web-stat.com">
            <img src="https://wts.one/6/5/1947258.gif" alt="Web-Stat site stats">
        </a>
    </noscript>
    <!-- End Web-Stat code v 6.3 -->

</body>

</html>