<footer class="page-footer font-small blue pt-3 bg-white mt-3">

  <div class="container-fluid text-center text-center">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="mt-4">
          © 2020 Copyright: Antonin MATHUBERT - <a href="mailto:moviedirectory@fiddlecomputers.fr" class="text-muted">Contact</a>
        </h5>

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-6 mb-md-0 mb-3">

        <h5 class="text-uppercase"><i class="fa fa-github"></i> Github</h5>

        <ul class="list-unstyled">

          <li>
            <a href="https://github.com/Tonin386/moviedirectory" target="_blank" class="text-dark">Repository</a>
          </li>

          <li>
            <a href="https://github.com/Tonin386" target="_blank" class="text-dark">My profile</a>
          </li>
        </ul>

      </div>

</footer>