{% extends "base.html" %}
{% block content %}
{% load i18n %}

{% load static %}
{% if user.is_authenticated %}
{% include "nav.html" %}
<h1 class="text-center text-light mt-5">{% trans "What the community has recently watched" %}</h1>
<div class="row justify-content-center mt-5 no-gutters menu">
  {% for movie in community %}
  <div class="card bg-dark text-light col-md-2 m-auto">
    <img src="{{ movie.movie.poster }}" alt="{{ movie.movie.title }}" class="img-fluid card-img" width="100">
    <div class="card-img-overlay">
      <a href="{% url 'watchedmovie-detail' pk=movie.pk %}" class="stretched-link"></a>
      <h4 class="card-title mt-5 text-center"> {{ movie.movie.title }}</h4>
      <div class="card-body m-auto mt-5 text-center">
        {% if movie.new %}
        <i class="fa fa-lg fa-star"></i>
        {% endif %}
        {% if movie.theater %}
        <i class="fa fa-lg fa-film"></i>
        {% endif %}
        <br> <br>
        <p class="card-text">{% trans "Watched on" %} {{ movie.view_date }} <br> <br> {% trans "Par" %} {% if movie.viewer.name_display %}{{movie.viewer.first_name}} {{movie.viewer.last_name}}{% else %}{{movie.viewer.username}}{% endif %} <br> <br>{{movie.note}}/10 {% if movie.comment != "" %}- {{movie.comment}} {% endif %}</p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
<div class="row justify-content-center no-gutters">
  {% if page > 1 %}
  <a href="{% url 'home_page' page=previous_page %}" class="btn btn-light m-2 p-2 col-xs-2">{% trans "Previous page" %}<br><i class="fa fa-arrow-left"></i></a>
  {% endif %}
  {% if not last_page %}
  <a href="{% url 'home_page' page=next_page %}" class="btn btn-light m-2 p-2 col-xs-2"> {% trans "Next page" %}<br><i class="fa fa-arrow-right"></i> </a>
  {% endif %}
</div>

{% else %}
<div class="row justify-content-center no-gutters m-0">
  <div class="col-md-12 text-center row" style="padding: 0px;">
    <div class="col-md-12 bg-light mb-5" style="padding: 5px;">
      <h1 class="display-3">{% trans "Welcome to Movie Directory" %}</h1>
    </div>
    <div class="col-md-3">
      <div class="col-md-12 mt-3 pb-3">
        <div class="index_logo shadow bg-secondary">
          <img src="{% static 'img/logo.png' %}" alt="Logo" style="max-width: 100%; height: auto;">
        </div>
      </div>
    </div>
    <div class="col-md-9 mt-lg-5">
      <div class="row mt-5">
        <div class="lead text-white col-lg-4">
          {% trans "Share your favorite movies with people who matters." %}
        </div>
        <div class="lead text-white col-lg-4">
          {% trans "Always up to date movie database." %}
        </div>
        <div class="lead text-white col-lg-4">
          {% trans "Start now and enjoy yourself." %}
        </div>
      </table>
    </div>
  </div>
</div>
<div class="col-md-3 mt-3">
  <a href="{% url 'register' %}" class="btn btn-lg btn-block btn-outline-light mb-2 shadow">{% trans "This is where the fun begins" %}<br><small class="muted">{% trans "Sign in" %}</small></a>
</div>
<div class="col-md-3 mt-3">
  <a href="{% url 'login' %}" class="btn btn-lg btn-block btn-outline-light mb-2 shadow ml-lg-4">{% trans "Don't worry I've got this" %} <br><small class="muted">{% trans "Login" %}</small></a>
</div>
</div>
{% endif %}

{% endblock %}