{% extends "base.html" %}
{% block content %}

{% load static %}

<div class="row justify-content-center">
  <div class="col-md-12 text-center" style="padding: 0px;">
    <div class="col-md-12 bg-light mb-5" style="padding: 5px;">
      <h1 class="display-3">Welcome to Movie Directory</h1>
    </div>
    <div class="col-md-12 bg-dark m-auto row w-50">
      <div class="col-md-4">
        <p class="lead text-white m-auto"> Share your favorite movies with the people that matters. </p>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
    <div class="col-md-12 bg-dark pt-3 m-auto row w-50">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p class="lead text-white m-auto"> Always up to date movie database. </p>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="col-md-12 bg-dark pt-3 m-auto row w-50">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p class="lead text-white m-auto"> Start now end enjoy yourself. </p>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-3 mb-5">
    <div class="index_logo">
      <img src="{% static 'img/logo.png' %}" alt="Logo" style="max-width: 100%; height: auto;">
    </div>
  </div>
  <div class="col-md-3">
    <a href="" class="btn btn-lg btn-block btn-outline-light mb-2">This is where the fun begins <br><small class="muted">Sign in</small></a>
  </div>
  <div class="col-md-3">
    <a href="" class="btn btn-lg btn-block btn-outline-light mb-2">Don't worry I've got this <br><small class="muted">Log in</small></a>
  </div>
</div>

{% endblock %}